h1{
  font-family: serif;
  text-align: center;
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.navbarl{
  display: inline;
  float: left;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(97, 63, 0);
}

body {
  background-color: rgba(255, 151, 47, 0.729);
}

img{
  height: 500px;
  width: 500px;
}

.background {
  background-image: -moz-repeating-linear-gradient();
}

